<div class="container">
  <div class="sidebar" [class.sidebar-active]="sidebarActive">
    <div class="sidebar-close" (click)="toggleSidebar()">✕</div>
    <div class="logo-container">
      <img src="assets/logo.jpg" alt="Logo" />
      <h2>AutoWash Hub</h2>
    </div>
    <ul class="nav-links">
      <li>
        <a
          routerLink="/admin-view/dashboard"
          routerLinkActive="active"
          (click)="closeSidebarOnMobile()"
          ><i class="fas fa-tachometer-alt"></i> Dashboard</a
        >
      </li>
      <li>
        <a
          routerLink="/admin-view/employee-management"
          routerLinkActive="active"
          (click)="closeSidebarOnMobile()"
          ><i class="fas fa-users"></i> Employees</a
        >
      </li>
      <li>
        <a
          routerLink="/admin-view/user-management"
          routerLinkActive="active"
          (click)="closeSidebarOnMobile()"
          ><i class="fas fa-user-friends"></i> Customers</a
        >
      </li>
      <li>
        <a
          routerLink="/admin-view/car-wash-booking"
          routerLinkActive="active"
          (click)="closeSidebarOnMobile()"
          ><i class="fas fa-calendar-alt"></i> Car Wash Bookings</a
        >
      </li>
      <li>
        <a
          routerLink="/admin-view/inventory-management"
          routerLinkActive="active"
          (click)="closeSidebarOnMobile()"
          ><i class="fas fa-box"></i> Inventory</a
        >
      </li>
      <li>
        <a
          routerLink="/admin-view/service-management"
          routerLinkActive="active"
          (click)="closeSidebarOnMobile()"
          ><i class="fas fa-clipboard-list"></i> Services</a
        >
      </li>
      <li>
        <a
          routerLink="/admin-view/manage-enquiries"
          routerLinkActive="active"
          (click)="closeSidebarOnMobile()"
          ><i class="fas fa-chart-bar"></i> manage enquiries</a
        >
      </li>
      <li>
        <a
          routerLink="/admin-view/reporting"
          routerLinkActive="active"
          (click)="closeSidebarOnMobile()"
          ><i class="fas fa-chart-bar"></i> Reports</a
        >
      </li>
      <li>
        <a
          routerLink="/admin-view/pages"
          routerLinkActive="active"
          (click)="closeSidebarOnMobile()"
          ><i class="fas fa-file-alt"></i> Pages</a
        >
      </li>
    </ul>
  </div>

  <div
    class="sidebar-overlay"
    [class.active]="sidebarActive"
    (click)="toggleSidebar()"
  ></div>

  <div class="content">
    <div class="header">
      <div class="menu-icon" (click)="toggleSidebar()">
        <i class="fas fa-bars"></i>
      </div>
      <h2>{{ pageTitle }}</h2>
      <div class="user-info" (clickOutside)="hideDropdown()">
        <div class="user-avatar-placeholder">{{ userInitials }}</div>
        <span class="user-name">{{ fullName }}</span>
        <button class="dropdown-btn" (click)="toggleDropdown()">▼</button>
        <div class="dropdown-menu" [class.show-dropdown]="showDropdown">
          <a class="dropdown-item" routerLink="/admin-view/profile">
            <i class="fas fa-user profile-icon"></i> Profile
          </a>
          <a class="dropdown-item" (click)="logout()">
            <i class="fas fa-sign-out-alt logout-icon"></i> Logout
          </a>
        </div>
      </div>
    </div>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
